<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              
              <div class="card-title">Mở lớp</div>
              <div>
                <form action="/" method="POST">
                  <div class="form-inline">
                    
                    <label class="mr-sm-2 mb-2" for="info">Năm học</label>
                    <input type="text" id="info" name="year" value="<%= currentYear.id %>" readonly hidden>
                    <input type="text" id="info" class="form-control form-control-sm mb-3 mr-sm-5" value="<%= currentYear.name %>" readonly>
  

                    <label class="mr-sm-2 mb-2" for="type">Khối lớp</label>
                    <select class="form-control form-control-sm mb-3 mr-sm-5" id="type" name="grade">
                      <% grades.forEach(grade=> { %>
                        <option value="<%= grade.id %>"><%= grade.name %></option>
                      <% }) %>
                    </select>
                    
                    <label class="mr-sm-2 mb-2" for="info">Số lượng</label>
                    <input type="number" id="info" class="form-control form-control-sm mb-3 mr-sm-5" value="0">

                    <button type="submit" class="btn btn-primary mb-3">Mở lớp</button>
  
                  </div>
  
                </form>
              </div>

              <div class="w-100">
                <hr>
              </div>


              <div class="card-title">Mở lớp đơn</div>
              <div>
                <form action="/lop-hoc/mo-lop-hoc" method="POST">
                  <div class="form-inline">
                    
                    <label class="mr-sm-2 mb-2" for="info">Năm học</label>
                    <input type="text" id="info" name="year" value="<%= currentYear.id %>" readonly hidden>
                    <input type="text" id="info" class="form-control form-control-sm mb-3 mr-sm-5" value="<%= currentYear.name %>" readonly>
  

                    <label class="mr-sm-2 mb-2" for="type">Khối lớp</label>
                    <select class="form-control form-control-sm mb-3 mr-sm-5" id="type" name="grade">
                      <% grades.forEach(grade=> { %>
                        <option value="<%= grade.id %>"><%= grade.name %></option>
                      <% }) %>
                    </select>
                    
                    <label class="mr-sm-2 mb-2" for="info">Tên lớp</label>
                    <input type="text" id="info" class="form-control form-control-sm mb-3 mr-sm-5" name="classroomName">

                    <button type="submit" class="btn btn-primary mb-3">Mở lớp</button>
  
                  </div>
  
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    

<%- include('../partials/footer') %>
<%- include('../partials/library') %>
