<%- include('../partials/head') %>

  <%- include('../partials/navbar') %>

    <section class="section">
      <div class="form-container">
        <div class="box form-content">
          <p class="form-title">Mở lớp</p>

          <%- include('../partials/form-message') %>

            <form action="/lop-hoc/mo-lop-hoc" method="POST">

              <div class="field is-horizontal">

                <div class="field-body">

                  <div class="field" style="flex: 1;">
                    <label class="label">Năm học</label>
                    <input type="text" name="year" value="<%= currentYear.id %>" readonly hidden>
                    <input class="input" type="text" value="<%= currentYear.name %>" readonly>
                  </div>

                  <div class="field" style="flex: 1;">
                    <label class="label">Khối lớp</label>
                    <div class="select" style="width: 100%;">
                      <select name="grade" style="width: 100%;">
                        <% grades.forEach(grade=> { %>
                          <option value="<%= grade.id %>"><%= grade.name %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>

                </div>

              </div>


              <div class="field">
                <label class="label">Tên lớp</label>
                <input class="input" type="text" name="classroomName">
              </div>

              <div class="has-text-right">
                <button type="submit" class="button is-primary">Mở lớp</button>
              </div>
            </form>
        </div>
      </div>

    </section>

    <%- include('../partials/footer') %>