<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

  <section class="section">
    <div class="container">
      <div class="is-flex is-flex-wrap-wrap">

        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Mã lớp</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.id %>" readonly>
            </div>
          </div>
        </div>

        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Khối</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.gradeId %>" readonly>
            </div>
          </div>
        </div>

        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Tên lớp</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.name %>" readonly>
            </div>
          </div>
        </div>

        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Sỉ số</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.size %>" readonly>
            </div>
          </div>
        </div>

        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Giáo viên chủ nhiệm</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.headTeacher ? classroom.headTeacher.fullName : null %>" readonly>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <p>Lựa chọn:</p>

      <div class="is-flex is-flex-wrap-wrap">

        <div class="flex-item m-3">
          <a href="/lop-hoc/lap-danh-sach-lop-hoc/<%= classroom.id %>" class="button is-info">Thêm học sinh</a>
        </div>

        <div class="flex-item m-3">
          <a href="/lop-hoc/phan-cong-gvcn/<%= classroom.id %>" class="button is-info">Phân công GVCN</a>
        </div>

        <div class="flex-item m-3">
          <a href="/lop-hoc/phan-cong-gvbm/<%= classroom.id %>" class="button is-info">Phân công GVBM</a>
        </div>
      </div>

    </div>
  </section>

  <section class="section">
    <div class="container">

      <div class="tabs is-boxed">
        <ul>
          <li id="student-list" class="tab-item is-active"><a href="javascript:void(0)">Danh sách học sinh</a></li>
          <li id="subjectTeacher-list" class="tab-item"><a href="javascript:void(0)">Sanh sách giáo viên bộ môn</a>
          </li>
        </ul>
      </div>

      <div class="panes">

        <div id="student-list" class="pane-item">
          <div class="table-container">
            <table class="table is-fullwidth is-hoverable is-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã học sinh</th>
                  <th>Họ tên học sinh</th>
                  <th>Ngày sinh</th>
                  <th>Giới tính</th>
                  <th>Địa chỉ</th>
                  <th>Lựa chọn</th>
                </tr>
              </thead>

              <tbody>
                <% students.forEach((student, idx) => { %>
                  <tr>
                    <th><%= idx + 1 %></th>
                    <td><%= student.id %></td>
                    <td><%= student.fullName %></td>
                    <td><%= student.formatDob %></td>
                    <td><%= student.genderText %></td>
                    <td><%= student.address %></td>
                    <td class="has-text-centered">
                      <a href="/hoc-sinh/ket-qua-hoc-tap/<%= student.id %>?year=<%= currentYear.id %>&semester=<%= currentSemester.id %>" class="button is-info">
                        <i class='bx bxs-bar-chart-square'></i>
                      </a>
                    </td>
                  </tr>
                <% }) %>
              </tbody>

            </table>
          </div>
        </div>

        <div id="subjectTeacher-list" class="pane-item" style="display: none;">
          <div class="table-container">
            <table class="table is-hoverable is-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã môn học</th>
                  <th>Môn học</th>
                  <th>Mã giáo viên</th>
                  <th>Tên giáo viên</th>
                </tr>
              </thead>

              <tbody>
                <% subjectTeachers.forEach((item, idx) => { %>
                  <tr>
                    <th><%= idx + 1 %></th>
                    <td><%= item.subject.id %></td>
                    <td><%= item.subject.name %></td>

                    <% if(item.subjectTeacher) { %>
                      <td><%= item.subjectTeacher.id %></td>
                      <td><%= item.subjectTeacher.fullName %></td>
                    <% } else { %>
                      <td></td>
                      <td></td>
                    <% } %>
                  </tr>
                <% }) %>
              
              </tbody>

            </table>
          </div>
        </div>

      </div>
    </div>
  </section>
  
<%- include('../partials/footer') %>
