<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

  <section class="section">
  
    <div class="l-container">
  
      <form action="/lop-hoc/phan-cong-gvcn" method="POST">
        <div class="is-flex is-flex-wrap-wrap">
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Mã lớp</label>
              <div class="control">
                <input class="input" name="classroomId" type="text" value="<%= classroom.id %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Khối</label>
              <div class="control">
                <input class="input" type="text" value="<%= classroom.gradeId %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Tên lớp</label>
              <div class="control">
                <input class="input" type="text" value="<%= classroom.name %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Giáo viên chủ nhiệm</label>
              <div class="control">
                <input class="input" type="text" value="<%= classroom.headTeacher.fullName %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item m-3 is-align-self-flex-end">
            <button class="button is-info">Cập nhật</button>
          </div>
        </div>
  
        <table class="table">
          <table class="table is-hoverable is-fullwidth is-bordered">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã giáo viên</th>
                <th>Họ tên giáo viên</th>
                <th>Giới tính</th>
                <th>Môn giảng dạy</th>
                <th class="has-text-centered">Lựa chọn</th>
              </tr>
            </thead>
            
            <tbody>
              <% noAssignmentHeadTeacherList.forEach((teacher, idx) => { %>
                <tr>
                  <th><%= idx + 1 %></th>
                  <td><%= teacher.id %></td>
                  <td><%= teacher.fullName %></td>
                  <td><%= teacher.genderText %></td>
                  <td><%= teacher.subject.name %></td>
                  <td class="has-text-centered">
                    <input type="radio" name="headTeacherId" value="<%= teacher.id %>">
                  </td>
                </tr>
              <% }) %>

            </tbody>
    
          </table>
        </table>          
      </form>
    </div>
  
  </section>

<%- include('../partials/footer') %>
