<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">
        
        <div class="col-12 grid-margin">

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center flex-wrap">

                <div class="flex-grow-1">
                  <form action="/lop-hoc" method="GET">
                    <div class="form-group row">

                      <div class="col-md-3 col-sm-12 mb-2">
                        <label for="year">Năm học</label>
                        <select class="form-control form-control-sm font-weight-bold" id="year" name="year">
                          <% years.forEach(year => { %>
                            <% if(year.id == selectedYear) { %>
                              <option selected value="<%= year.id %>"><%= year.name %></option>
                            <% } else { %>
                              <option value="<%= year.id %>"><%= year.name %></option>
                            <% } %>
                          <% }) %>
                          
                        </select>
                      </div>


                      <div class="col-md-6 col-sm-12 align-self-end mb-2">
                        <button type="submit" class="btn btn-info">Tìm kiếm</button>
                      </div>

                    </div>

                  </form>
                </div>

                <div class="w-100 d-block d-md-none">
                  <hr>
                </div>

                <div class="flex-grow-1 text-right">
                  <a href="/lop-hoc/mo-lop-hoc" class="button is-primary">
                    <button class="btn btn-primary btn-icon-text">
                      <i class='fa-solid fa-plus btn-icon-prepend'></i>Mở lớp
                    </button>
                  </a>
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="col-12 grid-margin">

          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="table-primary">
                    <tr>
                      <th>STT</th>
                      <th>Mã lớp</th>
                      <th>Năm học</th>
                      <th>Khối lớp</th>
                      <th>Tên lớp</th>
                      <th>Sỉ số</th>
                      <th>Giáo viên chủ nhiệm</th>
                      <th>Lựa chọn</th>
                    </tr>
                  </thead>
                  
                  <tbody>
      
                    <% classrooms.forEach((classroom, idx) => { %>
                      <tr>
                        <th><%= idx + 1 %></th>
                        <td class="font-weight-bold"><%= classroom.id %></td>
                        <td class="font-weight-bold"><%= classroom.yearId %></td>
                        <td class="font-weight-bold"><%= classroom.gradeId %></td>
                        <td class="font-weight-bold"><%= classroom.name %></td>
                        <td class="font-weight-bold"><%= classroom.size %></td>
                        <td class="font-weight-bold"><%= classroom.headTeacher ? classroom.headTeacher.fullName : null %></td>
                        <td>
                          <div class="d-flex justify-content-center">
                            <a href="/lop-hoc/<%= classroom.id %>" class="mr-2">
                              <button class="btn btn-info btn-icon"><i class='fa-solid fa-chart-simple'></i></button>
                            </a>
                            <form style="display: inline-block;" action="/lop-hoc/xoa-lop-hoc/<%= classroom.id %>?_method=DELETE" method="POST">
                              <button class="btn btn-danger btn-icon"><i class='fa-solid fa-trash'></i></button>
                            </form>
                          </div>
                        </td>
                      </tr>
                     <% }) %>
          
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
