<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

<section class="section">
  <div class="container">
    <form action="/lop-hoc/lap-danh-sach-lop-hoc/<%= classroom.id %>" method="POST">

      <div class="is-flex is-flex-wrap-wrap">

        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Năm học</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.yearId %>" readonly>
            </div>
          </div>
        </div>
        
        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Khối</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.gradeId %>" readonly>
            </div>
          </div>
        </div>
        
        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Tên lớp</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.name %>" readonly>
            </div>
          </div>
        </div>

        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Giáo viên chủ nhiệm</label>
            <div class="control">
              <input class="input" type="text" value="<%= classroom.headTeacher ? classroom.headTeacher.fullName : null %>" readonly>
            </div>
          </div>
        </div>
        
        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Sỉ số</label>
            <div class="field has-addons">
              <p class="control">
                <input id="classSize" class="input" type="text" value="<%= classroom.size %>" readonly>
              </p>
              <p class="control">
                <a id="classSizeMax" class="button is-static">5</a>
              </p>
            </div>
          </div>
        </div>
        
        <div class="flex-item m-3 is-align-self-flex-end">
          <button type="submit" class="button is-info">Cập nhật</button>
        </div>

      </div>

      <div class="table-container my-5">
        <table class="table is-fullwidth is-hoverable is-bordered">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã học sinh</th>
              <th>Họ tên học sinh</th>
              <th>Giới tính</th>
              <th>Ngày sinh</th>
              <th>Lớp cũ</th>
            
              <th style="width: 100px;">Lựa chọn</th>
            </tr>
          </thead>
          
          <tbody>
            <% noClassroomAssignStudents.forEach((student, idx) => { %>
              <tr>
                <th><%= idx + 1 %></th>
                <td><%= student.id %></td>
                <td><%= student.fullName %></td>
                <td><%= student.genderText %></td>
                <td><%= student.formatDob %></td>
                <td><%= student.classrooms ? student.classrooms[0].name : 'Đầu cấp' %></td>
                <td class="has-text-centered">
                  <input type="checkbox" name="studentIds" value="<%= student.id %>" style="width: 20px; height: 20px;">
                </td>
              </tr>
            <% }) %>
          </tbody>
  
        </table>
      </div>
      
    </form>
  </div>
</section>


<%- include('../partials/footer') %>
