<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">

        <div class="col-12 grid-margin">
          <form action="/lop-hoc/lap-danh-sach-lop-hoc/<%= classroom.id %>" method="POST">

            <div class="card">
              <div class="card-body">
                <div class="card-title">Lập danh sách lớp</div>
  
                <div class="row">
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Mã lớp</label>
                    <input type="text" id="info" class="form-control form-control-sm" value="<%= classroom.id %>" readonly>
                  </div>
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Năm học</label>
                    <input type="text" id="info" class="form-control form-control-sm" value="<%= classroom.yearId %>" readonly>
                  </div>
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Khối lớp</label>
                    <input type="text" id="info" class="form-control form-control-sm" value="<%= classroom.gradeId %>" readonly>
                  </div>
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Lớp</label>
                    <input type="text" id="info" class="form-control form-control-sm" value="<%= classroom.name %>" readonly>
                  </div> 
                  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Giáo viên chủ nhiệm</label>
                    <input type="text" id="info" class="form-control form-control-sm" value="<%= classroom.headTeacher ? classroom.headTeacher.fullName : null %>" readonly>
                  </div>
                </div>
  
                <hr>
                
                <div class="row mb-4">

                  <div class="col-md-2 mb-4">
                    <label>Sĩ số</label>
                    <div class="input-group">
                      <input type="text" id="classSize" class="form-control" value="<%= classroom.size %>" readonly>
                      <div class="input-group-append">
                        <span id="classSizeMax" class="input-group-text">5</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 align-self-end mb-4">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                  </div>
                </div>
  
              
                <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th>STT</th>
                        <th>Mã học sinh</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Lớp cũ</th>
                      
                        <th style="width: 100px;">Lựa chọn</th>
                      </tr>
                    </thead>
  
                    <tfoot class="table-primary">
                      <tr>
                        <th>STT</th>
                        <th>Mã học sinh</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Lớp cũ</th>
                      
                        <th style="width: 100px;">Lựa chọn</th>
                      </tr>
                    </tfoot>

                    <tbody>
                      <% noClassroomAssignStudents.forEach((student, idx) => { %>
                        <tr>
                          <th><%= idx + 1 %></th>
                          <td><%= student.id %></td>
                          <td><%= student.firstName %></td>
                          <td><%= student.lastName %></td>
                          <td><%= student.genderText %></td>
                          <td><%= student.formatDob %></td>
                          <td><%= student.classrooms ? student.classrooms[0].name : 'Đầu cấp' %></td>
                          <td class="d-flex justify-content-center">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="studentIds" value="<%= student.id %>">
                              </label>
                            </div>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
  

          </form>
        </div>

      </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
