<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">
      
      <div class="row">

        <div class="col-12 grid-margin">
          <form action="/lop-hoc/phan-cong-gvbm/<%= classroom.id %>" method="POST">

            <div class="card">
              <div class="card-body">
                <div class="card-title">Phân công giáo viên bộ môn</div>
  
                <div class="row">
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Mã lớp</label>
                    <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= classroom.id %>" readonly>
                  </div>
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Năm học</label>
                    <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= classroom.yearId %>" readonly>
                  </div>
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Khối lớp</label>
                    <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= classroom.gradeId %>" readonly>
                  </div>
  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Lớp</label>
                    <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= classroom.name %>" readonly>
                  </div> 

                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Sĩ số</label>
                    <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= classroom.size %>" readonly>
                  </div> 
                  
                  <div class="col-md-4 col-sm-12 mb-4">
                    <label for="info">Giáo viên chủ nhiệm</label>
                    <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= classroom.headTeacher ? classroom.headTeacher.fullName : null %>" readonly>
                  </div>
                </div>
                
                <hr>

                <button type="submit" class="btn btn-primary mb-4">Cập nhật</button>
              
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th>STT</th>
                        <th>Mã môn học</th>
                        <th>Môn học</th>
                        <th>Giáo viên</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% teachersBySubjects.forEach((item, idx) => { %>
                        <% if(classroom.headTeacher.subjectId !== item.subject.id) { %>
                          <tr>
                            <th><%= idx + 1 %></th>
                            <td class="font-weight-bold"><%= item.subject.id %></td>
                            <td class="font-weight-bold"><%= item.subject.name %></td>
                            <td>
                              <select name="<%= item.subject.id %>" class="form-control form-control-sm font-weight-bold">
                                <option value="">Chọn</option>
                                <% item.teachers.forEach(teacher => { %>
                                  <option value="<%= teacher.id %>"><%= teacher.fullName %></option>
                                <% }) %>
                              </select>
                            </td>
                          </tr>
                        <% } %>
                      <% }) %>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
  

          </form>
        </div>

      </div>



  <section class="section">
  
    <div class="l-container">
  
      <form action="/lop-hoc/phan-cong-gvbm" method="POST">

        <div class="is-flex is-flex-wrap-wrap">
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Mã lớp</label>
              <div class="control">
                <input class="input" name="classroomId" type="text" value="<%= classroom.id %>" readonly>
              </div>
            </div>
          </div>

          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Khối</label>
              <div class="control">
                <input class="input" type="text" value="<%= classroom.gradeId %>" readonly>
              </div>
            </div>
          </div>
          
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Tên lớp</label>
              <div class="control">
                <input class="input" type="text" value="<%= classroom.name %>" readonly>
              </div>
            </div>
          </div>

          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Giáo viên chủ nhiệm</label>
              <div class="control">
                <input class="input" type="text" value="<%= classroom.headTeacher ? classroom.headTeacher.fullName : null %>" readonly>
              </div>
            </div>
          </div>
          
          <div class="flex-item m-3 is-align-self-flex-end">
            <button type="submit" class="button is-info">Cập nhật</button>
          </div>
        </div>
  
        <div class="table-container my-5">
            <table class="table is-fullwidth is-hoverable is-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã môn học</th>
                  <th>Môn học</th>
                  <th>Giáo viên</th>
                </tr>
              </thead>
              
              <tbody>
                <% teachersBySubjects.forEach((item, idx) => { %>
                  <tr>
                    <th><%= idx + 1 %></th>
                    <td><%= item.subject.id %></td>
                    <td><%= item.subject.name %></td>
                    <td class="has-text-centered">
                      <div class="select">
                        <select name="<%= item.subject.id %>">
                          <option value="">Chọn</option>
                          <% item.teachers.forEach(teacher => { %>
                            <option value="<%= teacher.id %>"><%= teacher.fullName %></option>
                          <% }) %>
                        </select>
                      </div>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
      
            </table>
          </table>          
        </div>
  
      </form>
    </div>
  
  </section>

<%- include('../partials/footer') %>
<%- include('../partials/library') %>
