<%- include('../partials/head') %>
  <%- include('../partials/navbar') %>


    <div class="container-fluid page-body-wrapper">

      <%- include('../partials/sidebar') %>

        <div class="main-panel">

          <div class="content-wrapper">

            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">

                  <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center flex-wrap">

                      <form action="/tai-khoan/tao-tai-khoan/tim-kiem-tai-khoan" method="GET">
                        <div class="form-group row">

                          <div class="col-md-4 col-sm-12 mb-2">
                            <label for="info">Thông tin</label>
                            <input type="text" id="info" class="form-control form-control-sm font-weight-bold" name="info">
                          </div>

                          <div class="col-md-4 col-sm-12 mb-2">
                            <label for="type">Loại tìm kiếm</label>
                            <select class="form-control form-control-sm font-weight-bold" id="type" name="type">
                              <option value="">Chọn</option>
                              <option value="0">Mã nhân viên</option>
                              <option value="1">Tên nhân viên</option>
                            </select>
                          </div>

                          <div class="col-md-4 col-sm-12 align-self-end mb-2">
                            <button type="submit" class="btn btn-info">Tìm kiếm</button>
                          </div>

                        </div>

                      </form>

                    </div>

                    <hr>

                    <div class="row">

                      <div class="col">
                        <div class="card-title">Danh sách nhân viên</div>

                        <ul class="nav nav-tabs">
                          <% roles.forEach((role, idx)=> { %>
                            <li class="nav-item">
                              <a 
                                class="nav-link font-weight-bold <%= idx == 0 ? 'active' : '' %>" id="<%= role.id %>-tab" data-toggle="tab"
                                href="#<%= role.id %>" role="tab"><%= role.name %></a>
                            </li>
                          <% }) %>
                        </ul>


                        <div class="tab-content">
                          <% roles.forEach((role, idx)=> { %>
                            <div class="tab-pane fade <%= idx == 0 ? 'show active' : '' %>" id="<%= role.id %>">

                              <div class="table-responsive">
                                <table class="table table-hover">
                                  <thead class="table-primary">
                                    <tr>
                                      <th>STT</th>
                                      <th>Mã nhân viên</th>
                                      <th>Tên nhân viên</th>
                                      <th>Email</th>
                                      <th>Số điện thoại</th>
                                      <th>Vai trò</th>
                                      <th>Lựa chọn</th>
                                    </tr>
                                  </thead>

                                  <tbody>
                                    <% noAccountEmplList.forEach((empl, idx)=> { %>
                                      <% if(empl.role.id == role.id) { %>
                                        <tr>
                                          <th>
                                            <%= idx + 1 %>
                                          </th>
                                          <td class="font-weight-bold">
                                            <%= empl.id %>
                                          </td>
                                          <td class="font-weight-bold">
                                            <%= empl.fullName %>
                                          </td>
                                          <td class="font-weight-bold">
                                            <%= empl.email %>
                                          </td>
                                          <td class="font-weight-bold">
                                            <%= empl.phone %>
                                          </td>
                                          <td class="font-weight-bold">
                                            <%= empl.role.name %>
                                          </td>
                                          <td>
                                            <form action="/tai-khoan/tao-tai-khoan/<%= empl.id %>" method="POST">
                                              <button class="btn btn-primary">Cấp tài khoản</button>
                                            </form>
                                          </td>
                                        </tr>
                                        <% } %>
                                      <% }) %>

                                  </tbody>
                                </table>
                              </div>
                            </div>
                          <% }) %>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>




            <%- include('../partials/footer') %>
              <%- include('../partials/library') %>