<%- include('../partials/head') %>

  <%- include('../partials/navbar') %>

    <section class="section">
      <div class="l-container">
        <div class="table-container">
          <table class="table is-fullwidth is-hoverable is-bordered">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Lựa chọn</th>
              </tr>
            </thead>
            <tbody>
              <% noAccountEmplList.forEach((empl, idx)=> { %>
                <tr>
                  <td><%= idx + 1 %></td>
                  <td><%= empl.id %></td>
                  <td><%= empl.fullName %></td>
                  <td><%= empl.email %></td>
                  <td><%= empl.phone %></td>
                  <td style="width: 200px;" class="has-text-centered">
                    <a class="button is-info add-account-btn" onclick="getAccountInfo('<%= empl.id %>')">Cấp tài khoản</a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>

      </div>
    </section>

    <%- include('../partials/footer') %>