<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


  <div class="container-fluid page-body-wrapper">

    <%- include('../partials/sidebar') %>

      <div class="main-panel">

        <div class="content-wrapper">

          <div class="card">
            <div class="card-body">
              <div class="card-title">Thông tin người dùng</div>

              <div class="row">

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Mã nhân viên</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.user.id %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">họ</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.user.firstName %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Tên</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.user.lastName %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Giới tính</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.user.genderText %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Ngày sinh</label>
                  <input type="date" class="form-control font-weight-bold" value="<%= info.user.dob %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Địa chỉ</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.user.address %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Email</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.user.email %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Số điện thoại</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.user.phone %>" readonly>
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                  <label for="">Chức vụ</label>
                  <input type="text" class="form-control font-weight-bold" value="<%= info.role.name %>" readonly>
                </div>
        

              </div>

            </div>
          </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
