<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Tiếp nhận học sinh</h4>
              <form action="/hoc-sinh/tiep-nhan-hoc-sinh" method="POST" class="form-sample">

                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="firstName">Họ</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control font-weight-bold" id="firstName" name="firstName">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="lastName">Tên</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control font-weight-bold" id="lastName" name="lastName">
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="dob">Ngày sinh</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control font-weight-bold" id="dob" name="dob">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="gender">Giới tính</label>
                      <div class="col-sm-9">
                        <select class="form-control font-weight-bold" name="gender" id="gender">
                          <option value="1">Nam</option>
                          <option value="0">Nữ</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
                
                <div class="row">

                  <div class="col">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="address">Địa chỉ</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control font-weight-bold" id="address" name="address">
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="email">Email</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control font-weight-bold" id="email" name="email">
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="parentName">Họ tên phụ huynh</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control font-weight-bold" id="parentName" name="parentName">
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="parentPhone">SĐT phụ huynh</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control font-weight-bold" id="parentPhone" name="parentPhone">
                      </div>
                    </div>
                  </div>

                </div>

                <button type="submit" class="btn btn-primary ml-auto">Tiếp nhận</button>
              </form>
            </div>

          </div>
        </div>
      </div>



<section class="section">
  <div class="form-container">
    <div class="box form-content">
      <p class="form-title">Cập nhật tài khoản</p>

      <form action="/tai-khoan/cap-nhat-tai-khoan?_method=PUT" method="POST">

        <div class="field is-horizontal">
          <div class="field-body">

            <div class="field">
              <label class="label">Mã tài khoản</label>
              <div class="control">
                <input class="input" type="text" name="accountId" value="<%= account.id %>" readonly>
              </div>
            </div>

            <div class="field">
              <label class="label">Tên đăng nhập</label>
              <div class="control">
                <input class="input" type="text" name="username" value="<%= account.username %>" readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">

          <div class="field-body">
            <div class="field" style="flex: 1;">
              <label class="label">Mật khẩu</label>
              <input class="input" type="text" name="password" value="<%= account.password %>">
            </div>

            <div class="field" style="flex: 1;">
              <label class="label">Vai trò</label>
              <div class="select" style="width: 100%;">
                <select name="role" style="width: 100%;">
                  <% roles.forEach(role => { %>

                    <% if(role.id == account.roleId) { %>
                      <option value="<%= role.id %>" selected><%= role.name %></option>
                    <% } else { %>
                      <option value="<%= role.id %>"><%= role.name %></option>
                    <% } %>

                  <% }) %>
                  
                </select>
              </div>
            </div>

          </div>

        </div>
        
        <div class="has-text-right">
          <button type="submit" class="button is-primary">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>

</section>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
