<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

  <section class="section">
    <div class="l-container">
      <form action="/diem/nhap-diem" method="POST">
        <div class="is-flex is-flex-wrap-wrap">
  
          <div class="flex-item my-3 mr-3">
            <div class="field sm-input">
              <label class="label">Năm học</label>
              <div class="control">
                <input type="text" name="yearId" value="<%= currentYear.id %>" hidden>
                <input class="input" type="text" value="<%= currentYear.name %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Học kỳ</label>
              <div class="control">
                <input type="text" name="semesterId" value="<%= currentSemester.id %>" hidden>
                <input class="input" type="text" value="<%= currentSemester.name %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Lớp</label>
              <div class="control">
                <input type="text" name="classroomId" value="<%= classroom.id %>" hidden>
                <input class="input" type="text" value="<%= classroom.name %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item m-3">
            <div class="field sm-input">
              <label class="label">Môn học</label>
              <div class="control">
                <input type="text" name="subjectId" value="<%= subject.id %>" hidden>
                <input class="input" type="text" value="<%= subject.name %>" readonly>
              </div>
            </div>
          </div>
  
          <div class="flex-item my-3 is-align-self-flex-end">
            <button type="submit" class="button is-info">Cập nhật</button>
          </div>
        </div>
        
        <hr>
        <p>Lựa chọn:</p>

        <div class="is-flex is-flex-wrap-wrap">

          <div class="flex-item my-3 mr-3">
            <a href="/lop-hoc/lap-danh-sach-lop-hoc/<%= classroom.id %>" class="button is-info">Tính điểm trung bình</a>
          </div>

          <div class="flex-item my-3 mr-3">
            <a href="/lop-hoc/phan-cong-gvcn/<%= classroom.id %>" class="button is-info">Xuất bảng điểm</a>
          </div>
        </div>


        <div class="mt-4 mb-6">
          <div class="table-container">
            <table class="table is-fullwidth is-hoverable is-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th style="width: 130px;">Mã học sinh</th>
                  <th>Tên học sinh</th>
                  <% markTypes.forEach(markType => { %>
                    <th><%= markType.name %></th>
                  <% }) %>
                </tr>
              </thead>
      
              <tbody>
                <% studentMarks.forEach((student, idx) => { %>
                  <tr>
                    <th><%= idx + 1 %></th>
                    <td><input type="text" name="studentIds" value="<%= student.id %>" hidden><%= student.id %></td>
                    <td style="width: 200px;"><%= student.fullName %></td>
                    <% markTypes.forEach(markType => { %>

                      <% student.marks.forEach(mark => { %>

                        <% if(mark.markTypeId == markType.id) { %>
                          
                          <% if(markType.id === markTypes[markTypes.length - 1].id) { %>
                            <td>
                              <input class="input" type="text" value="<%= mark.mark %>" readonly>
                            </td>
                          <% } else { %>
                            <td>
                              <input class="input" type="text" name="<%= markType.id %>" value="<%= mark.mark %>">
                            </td>
                          <% } %>

                        <% } %>

                      <% }) %>

                    <% }) %>
                    
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  
  </section>

<%- include('../partials/footer') %>
