<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">

        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">

              <div class="d-flex justify-content-between align-items-center flex-wrap">

                <form action="/tai-khoan/tim-kiem-tai-khoan" method="GET">
                  <div class="form-group row">

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="info">Thông tin</label>
                      <input 
                        type="text" 
                        id="info" 
                        name="info" 
                        class="form-control form-control-sm font-weight-bold" 
                      />
                    </div>

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="type">Loại tìm kiếm</label>
                      <select class="form-control form-control-sm font-weight-bold" id="type" name="type">
                        <option value="">Chọn</option>
                        <option value="0">Mã tài khoản</option>
                        <option value="1">Mã nhân viên</option>
                        <option value="2">Tên nhân viên</option>
                      </select>
                    </div>

                    <div class="col-md-4 col-sm-12 align-self-end mb-2">
                      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>

                  </div>

                </form>

                <div class="w-100 d-block d-md-none">
                  <hr>
                </div>

                <div>
                  <a href="/tai-khoan/tao-tai-khoan" class="button is-primary">
                    <button class="btn btn-primary btn-icon-text">
                      <i class='fa-solid fa-user-plus btn-icon-prepend'></i>Cấp tài khoản
                    </button>
                  </a>
                </div>

              </div>

              <hr>

              <div class="row">

                <div class="col">
                  <div class="card-title">Danh sách tài khoản</div>

                  <ul class="nav nav-tabs">
                    <% roles.forEach((role, idx) => { %>
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold <%= idx == 0 ?'active' : '' %>" id="<%= role.id %>-tab" data-toggle="tab" href="#<%= role.id %>" role="tab"><%= role.name %></a>
                      </li>
                    <% }) %>
                  </ul>

                  <div class="tab-content">
                    <% roles.forEach((role, idx) => { %>
                      <div class="tab-pane fade <%= idx == 0 ? 'show active' : '' %>" id="<%= role.id %>">

                        <div class="table-responsive">
                          <table class="table table-hover">

                            <thead class="table-primary">
                              <tr>
                                <th>Mã tài khoản</th>
                                <th>Tên đăng nhập</th>
                                <th>Tên người dùng</th>
                                <th>Vai trò</th>
                                <th>Trạng thái</th>
                                <th>Lựa chọn</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <% accounts.forEach((account, idx) => { %>
                                <% if( (account.employee && account.employee.role.id == role.id) || (account.teacher && account.teacher.role.id == role.id) ) { %>
                                  <tr>
                                    <td class="font-weight-bold"><%= account.id %></td>
                                    <td class="font-weight-bold"><%= account.username %></td>
                                    <td class="font-weight-bold"><%= account.employee ? account.employee.fullName : account.teacher.fullName %></td>
                                    <td class="font-weight-bold"><%= account.employee ? account.employee.role.name : account.teacher.role.name %></td>
                                    <td>
                                      <% if(account.status) { %>
                                        <label class="badge badge-success">Còn hiệu lực</label>
                                      <% } else {%>
                                        <label class="badge badge-danger">Vô hiệu hóa</label>
                                      <% } %>
                                    </td>
                                    <td class="d-flex justify-content-center">
                                      
                                      <form action="/tai-khoan/cap-nhat-trang-thai/<%= account.id %>?_method=PUT" method="POST">
                                        <button class="btn btn-info btn-icon mr-1">
                                          <i class="fa-solid fa-rotate"></i>
                                        </button>
                                      </form>
                        
                                      <form action="/tai-khoan/reset-mat-khau/<%= account.id %>?_method=PUT" method="POST">
                                        <button class="btn btn-warning btn-icon mr-1">
                                          <i class='fa-solid fa-key'></i>
                                        </button>
                                      </form>
        
                                      <form action="/tai-khoan/xoa-tai-khoan/<%= account.id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-icon mr-1">
                                          <i class='fa-solid fa-trash'></i>
                                        </button>
                                      </form>
        
                                    </td>
                                  </tr>
                                <% } %>
                              <% }) %>
                    
                            </tbody>
                          </table>
                        </div>
                      </div>
                    <% }) %>
                  </div>

                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
