<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">
        <div class="col">
          <div class="card">
            
            <div class="card-body">

              <div class="row">

                <div class="col">
                  <a href="/tai-khoan/danh-sach-chua-cap-tai-khoan" class="btn btn-primary">Cấp tài khoản</a>
                </div>

              </div>

              <hr>

              <div class="row">
                <div class="col">
                  <div class="card-title">Danh sách tài khoản</div>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="table-primary">
                        <tr>
                          <th>STT</th>
                          <th>Mã tài khoản</th>
                          <th>Tên đăng nhập</th>
                          <th>Tên người dùng</th>
                          <th>Vai trò</th>
                          <th>Trạng thái</th>
                          <th>Lựa chọn</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <% accounts.forEach((account, idx) => { %>
                          <tr>
                            <th><%= idx + 1 %></th>
                            <td class="font-weight-bold"><%= account.id %></td>
                            <td class="font-weight-bold"><%= account.username %></td>
                            <td class="font-weight-bold"><%= account.employee ? account.employee.fullName : account.teacher.fullName %></td>
                            <td class="font-weight-bold"><%= account.role.name %></td>
              
                            <td>
                              <% if(account.status) { %>
                                <label class="badge badge-success">Còn hiệu lực</label>
                              <% } else {%>
                                <label class="badge badge-danger">Vô hiệu hóa</label>
                              <% } %>
                            </td>
                                
                            <td class="d-flex justify-content-center">
                              <form action="/tai-khoan/cap-nhat-trang-thai/<%= account.id %>?_method=PUT" method="POST">
                                <button class="btn btn-info btn-icon mr-1">
                                  <i class="fa-solid fa-rotate"></i>
                                </button>
                              </form>
                
                              <a href="/tai-khoan/cap-nhat-tai-khoan/<%= account.id %>">
                                <button class="btn btn-success btn-icon mr-1">
                                  <i class='fa-solid fa-pencil'></i>
                                </button>
                              </a>
                              
                              <form action="/tai-khoan/xoa-tai-khoan/<%= account.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-icon mr-1">
                                  <i class='fa-solid fa-trash'></i>
                                </button>
                              </form>
                            </td>
                          </tr>
                        <% }) %>
              
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
