<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

    <div class="container">
      <div class="task-container">
        <a href="/hoc-sinh" class="task-item has-text-dark">
          <p><i class='bx bxs-user'></i> Quản lý học sinh</p>
        </a>
    
        <a href="/lop-hoc" class="task-item has-text-dark">
          <p><i class='bx bxs-school'></i> Quản lý lớp học</p>
        </a>
    
        <a href="/bao-cao" class="task-item has-text-dark">
          <p><i class='bx bx-line-chart'></i> Báo cáo thống kê</p>
        </a>
    
        <a href="/quy-dinh" class="task-item has-text-dark">
          <p><i class='bx bx-list-ul'></i> Quản lý quy định</p>
        </a>
      </div>
    </div>



<%- include('../partials/footer') %>
<%- include('../partials/library') %>

