<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

  <section class="section">
    <div class="l-container">
      <div class="is-flex is-flex-wrap-wrap">
  
        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Năm học</label>
            <input class="input" type="text" value="<%= currentYear.name %>" readonly>
          </div>
        </div>
  
        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Học kỳ</label>
            <input class="input" type="text" value="<%= currentSemester.name %>" readonly>
          </div>
        </div>
        
      </div>
    </div>
  </section>


  <section class="section">
    <div class="l-container">
      <table class="table is-hoverable is-fullwidth is-bordered">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã lớp</th>
            <th>Khối lớp</th>
            <th>Lớp</th>
            <th>Sỉ số</th>
            <th>Giáo viên chủ nhiệm</th>
            <th>Lựa chọn</th>
          </tr>
        </thead>
        
        <tbody>
          <% classrooms.forEach((classroom, idx) => { %>
            <tr>
              <th><%= idx + 1 %></th>
              <td><%= classroom.id %></td>
              <td><%= classroom.gradeId %></td>
              <td><%= classroom.name %></td>
              <td><%= classroom.size %></td>
              <td><%= classroom.headTeacher ? classroom.headTeacher.fullName : null %></td>
              <td class="has-text-centered">
                <a href="/diem/nhap-diem/<%= classroom.id %>" class="button is-info">Nhập điểm</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
  
      </table>
    </div>
  </section>

<%- include('../partials/footer') %>