<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">
        <div class="col">
          <div class="card">

            <div class="card-body">

              <div class="row">

                <div class="col-md-3 mb-3">
                  <label for="">Năm học hiện tại</label>
                  <input type="text" class="form-control form-control-sm font-weight-bold" value="<%= currentYear.name %>" readonly>
                </div>
                
                <div class="col-md-3 mb-3">
                  <label for="">Học kỳ hiện tại</label>
                  <input type="text" class="form-control form-control-sm font-weight-bold" value="<%= currentSemester.name %>" readonly>
                </div>
              </div>

              <hr>

              <div class="row">

                <div class="col">

                  <div class="card-title">Danh sách lớp học đang giảng dạy</div>


                  <ul class="nav nav-tabs">
                    <% grades.forEach((grade, idx) => { %>
                      <% if(idx == 0) { %>
                          <li class="nav-item">
                            <a class="nav-link font-weight-bold active" id="<%= grade.id %>-tab" data-toggle="tab" href="#<%= grade.id %>" role="tab"><%= grade.name %></a>
                          </li>
                        <% } else { %>
                          <li class="nav-item">
                            <a class="nav-link font-weight-bold" id="<%= grade.id %>-tab" data-toggle="tab" href="#<%= grade.id %>" role="tab"><%= grade.name %></a>
                          </li>
                        <% } %>
                    <% }) %>
                  </ul>

                  <div class="tab-content">
                    <% grades.forEach((grade, idx) => { %>
                      <% if(idx == 0) { %>
                        <div class="tab-pane fade show active" id="<%= grade.id %>">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class="table-primary">
                                <tr>
                                  <th>STT</th>
                                  <th>Mã lớp</th>
                                  <th>Khối lớp</th>
                                  <th>Lớp</th>
                                  <th>Sỉ số</th>
                                  <th>Giáo viên chủ nhiệm</th>
                                  <th>Lựa chọn</th>
                                </tr>
                              </thead>
        
                              <tbody>
                                <% classrooms.forEach((classroom, idx) => { %>
                                  <% if(classroom.gradeId === grade.id) { %>
                                    <tr>
                                      <th><%= idx + 1 %></th>
                                      <td class="font-weight-bold"><%= classroom.id %></td>
                                      <td class="font-weight-bold"><%= classroom.gradeId %></td>
                                      <td class="font-weight-bold"><%= classroom.name %></td>
                                      <td class="font-weight-bold"><%= classroom.size %></td>
                                      <td class="font-weight-bold"><%= classroom.headTeacher ? classroom.headTeacher.fullName : null %></td>
                                      <td>
                                        <div class="d-flex justify-content-center">
                                          <a href="/diem/nhap-diem/<%= classroom.id %>" class="btn btn-primary">Nhập điểm</a>
                                        </div>
                                      </td>
                                    </tr>
                                  <% } %>
                                <% }) %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      <% } else { %>
                        <div class="tab-pane fade" id="<%= grade.id %>">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class="table-primary">
                                <tr>
                                  <th>STT</th>
                                  <th>Mã lớp</th>
                                  <th>Khối lớp</th>
                                  <th>Lớp</th>
                                  <th>Sỉ số</th>
                                  <th>Giáo viên chủ nhiệm</th>
                                  <th>Lựa chọn</th>
                                </tr>
                              </thead>
        
                              <tbody>
                                <% classrooms.forEach((classroom, idx) => { %>
                                  <% if(classroom.gradeId === grade.id) { %>
                                    <tr>
                                      <th><%= idx + 1 %></th>
                                      <td class="font-weight-bold"><%= classroom.id %></td>
                                      <td class="font-weight-bold"><%= classroom.gradeId %></td>
                                      <td class="font-weight-bold"><%= classroom.name %></td>
                                      <td class="font-weight-bold"><%= classroom.size %></td>
                                      <td class="font-weight-bold"><%= classroom.headTeacher ? classroom.headTeacher.fullName : null %></td>
                                      <td>
                                        <div class="d-flex justify-content-center">
                                          <a href="/diem/nhap-diem/<%= classroom.id %>" class="btn btn-primary">Nhập điểm</a>
                                        </div>
                                      </td>
                                    </tr>
                                  <% } %>
                                <% }) %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      <% } %>

                    <% }) %>


                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
