<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">
        <div class="col">
          <div class="card">

            <div class="card-body">
              <div class="card-title">Quản lý quy định</div>

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link font-weight-bold active" data-toggle="tab" href="#general-rule" role="tab">Quy định chung</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold" data-toggle="tab" href="#subject-rule" role="tab">Môn học</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold" data-toggle="tab" href="#mark-rule" role="tab">Điểm số</a>
                </li>
              </ul>

              <div class="tab-content">

                <div class="tab-pane fade active show" id="general-rule">
                  <form action="/" method="POST">
                    <div class="row">
                      <% rules.forEach(rule => { %>
                        <div class="col-md-3 col-sm-12 mb-3">
                          <label for=""><%= rule.name %></label>
                          <input type="number" class="form-control font-weight-bold" name="<%= rule.id %>" value="<%= rule.value %>">
                        </div>
                      <% }) %>
                        <div class="col-md-3 col-sm-12 mb-3">
                          <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                  </form>
                </div>

                <div class="tab-pane fade show" id="subject-rule">
                  <form action="" method="POST">
                    
                  </form>
                </div>

                <div class="tab-pane fade show" id="mark-rule">
                  <form action="" method="POST">
                    
                  </form>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
