<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">
        <div class="col">
          <div class="card">

            <div class="card-body">
              <div class="card-title">Quản lý quy định</div>

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link font-weight-bold <%= (tag == null || tag == '1') ? 'active' : ''%>" data-toggle="tab" href="#general-rule" role="tab">Quy định chung</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold <%= (tag && tag == '2') ? 'active' : ''%>"" data-toggle="tab" href="#subject-rule" role="tab">Môn học</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold <%= (tag && tag == '3') ? 'active' : ''%>"" data-toggle="tab" href="#mark-rule" role="tab">Điểm số</a>
                </li>
              </ul>

              <div class="tab-content">

                <div class="tab-pane fade <%= (tag == null || tag == '1') ? 'active show' : ''%>" id="general-rule">
                  <form action="/quy-dinh/cap-nhat-quy-dinh?_method=PUT&tag=1" method="POST">
                    <div class="row">
                      <% rules.forEach((rule, idx) => { %>
                        <div class="col-md-3 col-sm-12 mb-3">
                          <label for=""><%= rule.name %></label>
                          <% if(idx < rules.length - 1) { %>
                            <input type="number" class="form-control font-weight-bold" name="<%= rule.id %>" value="<%= parseInt(rule.value) %>">
                          <% } else { %>
                            <input type="text" class="form-control font-weight-bold" name="<%= rule.id %>" value="<%= rule.value %>">
                          <% } %>
                        </div>
                      <% }) %>
                        <div class="col-md-3 col-sm-12 mb-3">
                          <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                  </form>
                </div>

                <div class="tab-pane fade <%= (tag && tag == '2') ? 'active show' : ''%>" id="subject-rule">
                  <form action="/quy-dinh/cap-nhat-mon-hoc?_method=PUT&tag=2" method="POST">

                    <input type="text" name="tag" value="2" hidden>

                    <div class="row">
                      <div class="col">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead class="table-primary">
                              <tr>
                                <th>STT</th>
                                <th>Mã môn học</th>
                                <th>Tên môn học</th>
                                <th>Hệ số</th>
                              </tr>
                            </thead>
    
                            <div class="tbody">
                              <% subjects.forEach((subject, idx) => { %>
                                <tr>
                                  <th><%= idx + 1 %></th>
                                  <td>
                                    <input class="form-control form-control-sm font-weight-bold" type="text" name="id" value="<%= subject.id %>" readonly>
                                  </td>
                                  <td>
                                    <input class="form-control form-control-sm font-weight-bold" type="text" name="name" value="<%= subject.name %>">
                                  </td>
                                  <td>
                                    <input class="form-control form-control-sm font-weight-bold" type="number" name="coefficient" value="<%= subject.coefficient %>">
                                  </td>
                                </tr>
                              <% }) %>
                            </div>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12 my-3">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="tab-pane fade <%= (tag && tag == '3') ? 'active show' : ''%>" id="mark-rule">
                  <form action="/quy-dinh/cap-nhat-loai-diem?_method=PUT&tag=3" method="POST">

                    <div class="row">
                      <div class="col">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead class="table-primary">
                              <tr>
                                <th>STT</th>
                                <th>Mã loại điểm</th>
                                <th>Tên loại điểm</th>
                                <th>Hệ số</th>
                              </tr>
                            </thead>
    
                            <div class="tbody">
                              <% markTypes.forEach((markType, idx) => { %>
                                <% if(idx == markTypes.length - 1) { %>
                                  <tr>
                                    <th><%= idx + 1 %></th>
                                    <td>
                                      <input class="form-control form-control-sm font-weight-bold" type="text" name="id" value="<%= markType.id %>" readonly>
                                    </td>
                                    <td>
                                      <input class="form-control form-control-sm font-weight-bold" type="text" name="name" value="<%= markType.name %>">
                                    </td>
                                    <td>
                                      <input class="form-control form-control-sm font-weight-bold" type="text" name="coefficient" value="Không thể chỉnh sửa" readonly>
                                    </td>
                                  </tr>
                                <% } else { %>
                                  <tr>
                                    <th><%= idx + 1 %></th>
                                    <td>
                                      <input class="form-control form-control-sm font-weight-bold" type="text" name="id" value="<%= markType.id %>" readonly>
                                    </td>
                                    <td>
                                      <input class="form-control form-control-sm font-weight-bold" type="text" name="name" value="<%= markType.name %>">
                                    </td>
                                    <td>
                                      <input class="form-control form-control-sm font-weight-bold" type="number" name="coefficient" value="<%= markType.coefficient %>">
                                    </td>
                                  </tr>
                                <% } %>
                              <% }) %>
                            </div>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12 my-3">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
