<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container-fluid page-body-wrapper">
  
  <%- include('../partials/sidebar') %>
  
    <div class="main-panel">
  
      <div class="content-wrapper">

        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Tiếp nhận học sinh</h4>
                <form action="/hoc-sinh/tao-hoc-sinh" method="POST" class="form-sample">

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="firstName">Họ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="firstName" name="firstName">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="lastName">Tên</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="lastName" name="lastName">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="dob">Ngày sinh</label>
                        <div class="col-sm-9">
                          <input type="date" class="form-control font-weight-bold" id="dob" name="dob">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="gender">Giới tính</label>
                        <div class="col-sm-9">
                          <select class="form-control font-weight-bold" name="gender" id="gender">
                            <option value="1">Nam</option>
                            <option value="0">Nữ</option>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>
                  
                  <div class="row">

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="address">Địa chỉ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="address" name="address">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="email">Email</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="email" name="email">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="parentName">Họ tên phụ huynh</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="parentName" name="parentName">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" for="parentPhone">SĐT phụ huynh</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="parentPhone" name="parentPhone">
                        </div>
                      </div>
                    </div>

                  </div>

                  <button type="submit" class="btn btn-primary ml-auto">Tiếp nhận</button>
                </form>
              </div>

            </div>
          </div>
        </div>

<%- include('../partials/footer') %>
<%- include('../partials/library') %>
