<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div class="container-fluid page-body-wrapper">
  
<%- include('../partials/sidebar') %>

  <div class="main-panel">

    <div class="content-wrapper">

      <div class="row">

        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">

              <div class="d-flex justify-content-between align-items-center flex-wrap">

                <form action="/hoc-sinh/tim-kiem-hoc-sinh" method="GET">
                  <div class="form-group row">

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="info">Thông tin</label>
                      <input type="text" id="info" class="form-control form-control-sm font-weight-bold" name="info">
                    </div>

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="type">Loại tìm kiếm</label>
                      <select class="form-control form-control-sm font-weight-bold" id="type" name="type">
                        <option value="0">Mã học sinh</option>
                        <option value="1">Tên học sinh</option>
                      </select>
                    </div>

                    <div class="col-md-4 col-sm-12 align-self-end mb-2">
                      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>

                  </div>

                </form>

                <div class="w-100 d-block d-md-none">
                  <hr>
                </div>

                <div>
                  <a href="/hoc-sinh/tao-hoc-sinh" class="button is-primary">
                    <button class="btn btn-primary btn-icon-text">
                      <i class='fa-solid fa-user-plus btn-icon-prepend'></i>Tiếp nhận học sinh
                    </button>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="col-md-12 grid-margin">
          <div class="card">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-12 col-md-3">
                  <div class="form-group">
                    <label class="font-weight-bold">Năm học hiện tại</label>
                    <input type="text" class="form-control font-weight-bold rounded" value="<%= currentYear.name %>" readonly>
                  </div>
                </div>
    
                <div class="col-sm-12 col-md-3">
                  <div class="form-group">
                    <label class="font-weight-bold">Học kỳ hiện tại</label>
                    <input type="text" class="form-control font-weight-bold rounded" value="<%= currentSemester.name %>" readonly> 
                  </div>
                </div>
    
                <div class="col-md-12 grid-margin transparent">
                  <div class="row">
                    <div class="col-md-4 mb-4 stretch-card transparent">
                      <div class="card card-tale card-dashboard">
                        <div class="card-body">
                          <p class="mb-4 card-dashboard-title">Khối 10</p>
                          <p class="fs-30 mb-2"><%= gradeCount.grade10 %> <i class="fa-solid fa-user"></i></p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4 stretch-card transparent">
                      <div class="card card-dark-blue card-dashboard">
                        <div class="card-body">
                          <p class="mb-4 card-dashboard-title">Khối 11</p>
                          <p class="fs-30 mb-2"><%= gradeCount.grade11 %> <i class="fa-solid fa-user"></i></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4 stretch-card transparent">
                      <div class="card card-light-danger card-dashboard">
                        <div class="card-body">
                          <p class="mb-4 card-dashboard-title">Khối 12</p>
                          <p class="fs-30 mb-2"><%= gradeCount.grade12 %> <i class="fa-solid fa-user"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
    
              </div>

            </div>
          </div>

         
        </div>

        
      </div>


      
<%- include('../partials/footer') %>
<%- include('../partials/library') %>
