<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container-fluid page-body-wrapper">
  
  <%- include('../partials/sidebar') %>
  
    <div class="main-panel">
  
      <div class="content-wrapper">

        <div class="row">

          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">

                <form action="/hoc-sinh/ket-qua-hoc-tap/<%= student.id %>" method="GET">
                  <div class="form-group row">

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="info">Mã học sinh</label>
                      <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= student.id %>" readonly>
                    </div>
                    
                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="info">Họ và tên</label>
                      <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= student.fullName %>" readonly>
                    </div>

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="info">Lớp</label>
                      <input type="text" id="info" class="form-control form-control-sm font-weight-bold" value="<%= classroom ? classroom.name : null %>" readonly>
                    </div>

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="year">Năm học</label>
                      <select class="form-control form-control-sm font-weight-bold" id="year" name="year">
                        <% years.forEach(year => { %>

                          <% if(year.id == selectedYear) { %>
                            <option value="<%= year.id %>" selected><%= year.name %></option>
                          <% } else { %>
                            <option value="<%= year.id %>"><%= year.name %></option>
                          <% } %>
      
                        <% }) %>
                      </select>
                    </div>

                    <div class="col-md-4 col-sm-12 mb-2">
                      <label for="semester">Học kỳ</label>
                      <select class="form-control form-control-sm font-weight-bold" id="semester" name="semester">
                        <<% semesters.forEach(semester => { %>

                          <% if(semester.id == selectedSemester) { %>
                            <option value="<%= semester.id %>" selected><%= semester.name %></option>
                          <% } else { %>
                            <option value="<%= semester.id %>"><%= semester.name %></option>
                          <% } %>
      
                        <% }) %>
                      </select>
                    </div>

                    <div class="col-md-4 col-sm-12 align-self-end mb-2">
                      <button type="submit" class="btn btn-info">Xem điểm</button>
                    </div>

                  </div>

                </form>

              </div>
            </div>
          </div>

          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">

                <label for="">Lựa chọn:</label>
                <br>
                <a href="/">
                  <button class="btn btn-primary btn-icon-text">
                    <i class="fa-solid fa-file btn-icon-prepend"></i>
                    In bảng điểm
                  </button>
                </a>
                <hr>

                <div class="card-title">Bảng điểm</div>
                <div class="table-responsive">
                  <table class="table table-hover">

                    <thead class="table-primary">
                      <tr>
                        <th>STT</th>
                        <th>Môn học</th>
                        <% markTypes.forEach(markType => { %>
                          <th><%= markType.name %></th>
                        <% }) %>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <% studentResult.forEach((subject, idx) => { %>
                        <tr>
                          <th><%= idx + 1 %></th>
                          <td class="font-weight-bold"><%= subject.name %></td>
                          <% subject.marks.forEach(mark => { %>
                            <td><input class="form-control form-control-sm font-weight-bold" type="text" value="<%= mark.mark %>" readonly></td>
                          <% }) %>
                        </tr>
                      <%})%>
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>


<%- include('../partials/footer') %>
<%- include('../partials/library') %>
