<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container-fluid page-body-wrapper">
  
  <%- include('../partials/sidebar') %>
  
    <div class="main-panel">
  
      <div class="content-wrapper">

        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Cập nhật học sinh <%= student.id %></h4>
                <form action="/hoc-sinh/cap-nhat-hoc-sinh/<%= student.id %>?_method=PUT" method="POST">

                  <%- include('../partials/form-message'); %>
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="firstName">Họ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="firstName" name="firstName" value="<%= student.firstName %>">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="lastName">Tên</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="lastName" name="lastName" value="<%= student.lastName %>">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="dob">Ngày sinh</label>
                        <div class="col-sm-9">
                          <input type="date" class="form-control font-weight-bold" id="dob" name="dob" value="<%= student.dob %>">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="gender">Giới tính</label>
                        <div class="col-sm-9">
                          <select class="form-control font-weight-bold" name="gender" id="gender">
                            <% if(student.gender) { %>
                              <option value="1" selected>Nam</option>
                              <option value="0" >Nữ</option>
                            <% } else { %>
                              <option value="1">Nam</option>
                              <option value="0" selected>Nữ</option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>
                  
                  <div class="row">

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="address">Địa chỉ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="address" name="address" value="<%= student.address %>">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="email">Email</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="email" name="email">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="parentName">Họ tên phụ huynh</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="parentName" name="parentName" value="<%= student.parentName %>">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="parentPhone">SĐT phụ huynh</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="parentPhone" name="parentPhone" value="<%= student.parentPhone %>">
                        </div>
                      </div>
                    </div>

                  </div>

                  <button type="submit" class="btn btn-primary ml-auto">Cập nhật</button>
                </form>
              </div>

            </div>
          </div>
        </div>

<%- include('../partials/footer') %>
<%- include('../partials/library') %>
