<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container-fluid page-body-wrapper">
  
  <%- include('../partials/sidebar') %>
  
    <div class="main-panel">
  
      <div class="content-wrapper">

        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Cập nhật nhân viên <%= user.id %></h4>
                <form action="/nhan-vien/cap-nhat-nhan-vien/<%= user.id %>?_method=PUT" method="POST" class="form-sample">

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="firstName">Họ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="firstName" name="firstName" value="<%= user.firstName %>">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="lastName">Tên</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="lastName" name="lastName" value="<%= user.lastName %>">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="dob">Ngày sinh</label>
                        <div class="col-sm-9">
                          <input type="date" class="form-control font-weight-bold" id="dob" name="dob" value="<%= user.dob %>">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="gender">Giới tính</label>
                        <div class="col-sm-9">
                          <select class="form-control font-weight-bold" name="gender" id="gender">
                            <option value="">Chọn</option>
                              <% if(user.gender) { %>
                                <option value="1" selected>Nam</option>
                                <option value="0">Nữ</option>
                              <% } else { %>
                                <option value="1">Nam</option>
                                <option value="0" selected>Nữ</option>
                              <% } %>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>
                  
                  <div class="row">

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="address">Địa chỉ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="address" name="address" value="<%= user.address %>">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="email">Email</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="email" name="email" value="<%= user.email %>">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="phone">Số điện thoại</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="phone" name="phone" value="<%= user.phone %>">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="role">Chức vụ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control font-weight-bold" id="role" value="<%= role.name %>" readonly>
                        </div>
                      </div>
                    </div>

                  </div>

                  <button type="submit" class="btn btn-primary ml-auto">Cập nhật</button>
                </form>
              </div>

            </div>
          </div>
        </div>

<%- include('../partials/footer') %>
<%- include('../partials/library') %>
